html
{
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
    background-color: rgb(49, 48, 48);
}


#root{
    display: flex;
	font-size: 16px;
    height: 70vh;
    width: 80vw;
    margin-top: 15%;
    grid-row: 20 /span 95;
	grid-column: 1 /span 95;
    grid-template-rows: repeat(99, 1fr);
	grid-template-columns: repeat(99, 1fr);
	background-color: rgba(7, 7, 7, 0.85);
	color: rgb(255, 255, 255);
}

.GameContainer{
    display: flex;
}

.BlackJack{
    display: grid;
    height: 70vh;
    width: 80vw;
    grid-template-rows: repeat(99, 1fr);
	grid-template-columns: repeat(99, 1fr);
    grid-row: 1 /span 95;
	grid-column: 1 /span 95;
}
.HiloComponents{
    display: grid;
    grid-template-rows: repeat(99, 1fr);
	grid-template-columns: repeat(99, 1fr);
    height: 100%;
    width: 100%;
}
.CardContainer{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
    grid-row: 40;
    grid-column: 1;
    height: 70vh;
    width: 70vw;

}
.DealerCards{
 
}
.PlayerText{
    grid-row: 6;
    grid-column: 3;
}
.PlayerCards{
    grid-row: 7;
    grid-column: 2;
}

.PlayerValues{
    display: inline-flex;
}

#CardImageDealer{
    max-height: 115px;
    max-width: 85px;
    min-height: 115px;
    min-width: 85px;
    

}
#CardImagePlayer{
    max-height: 115px;
    max-width: 85px;
    min-height: 115px;
    min-width: 85px;
}
